
body {
	font-size: 200%;
	text-align: center;
}

p {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

li {
    font-family: serif;
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    padding-left: 0.3em;
    line-height: 1.8em;
    text-align: left;
}

pre {
    text-align: left;
}

img {
    padding: 25px;
}
